.app {
  width: 400px;
  margin: 10px auto 0 auto;
}

.suggestionBox {
  border: 1px solid green;
  margin-top: 10px;
  min-height: 100px;
  padding: 5px;
  width: 410px;
  border-radius: 10px;
  align-items: center;
}

.searchBox {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
}
